.main-logo{
    font-family: var(--main-font);
}

input[type=text] {
    width: 100%;
    height: 3rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-family: var(--second-font);
    font-weight: bold;
    color: var(--color-text-primary);
    transition: 0.3s;
}

input[type=text]:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn{
    width: 4.5rem;
    height: 3rem;
    padding: var(--p6);
    text-decoration: none;
    background-color: rgb(255, 204, 245);
    border:none;
    border-radius: 5px;
}
.btn img{
    width: 1.3rem;
    transition: 0.3s;
}

.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*Acho q esses estilos vao se repetir entao vou testar colocar aqui*/

.links-mainpage{
    margin: var(--m2);
    font-family:var(--third-font);
    transition: .3ms;
}

.links-mainpage:hover{
    font-weight: bold;
}